<section class='calc'>
    <h2 class='section-hed'>{{{doc.calcHed}}}</h2>

    {{#each doc.calc}}
    <p class='prose'>{{{value}}}</p>
    {{/each}}

    {{#each doc.steps}}
    <div class='step-group'>
        <h4 class='step-num'>Step {{step}}</h4>
        <p class='step-desc'>{{{text}}}</p>
        <img src='assets/images/step_{{step}}.png'>
    </div>

    {{/each}}
</section>