<section class='guessMovement'>
	<h2 class='section-hed'>{{{doc.movingHed}}}</h2>
	{{#each doc.moving}}
	<p class='prose'>{{{value}}}</p>
	{{/each}}
	<img src='assets/images/moving_quintiles.png' alt={{{movingAlt}}}>
	<figure class='guess__figure'>
		<h3>{{{doc.movingQ}}}</h3>
		<div class='instruction_div'>
			<img src='assets/images/mdi_touch_app.png'>
			<p class='instruction'>{{{doc.movingSetup}}}</p>
		</div>
		<p class='warningMsg'>Keep going! You still have 100% of families unaccounted for</p>
		<svg class='guess_svg'></svg>
		<p class='interpretText'></p>
	</figure>
	<button class='submitBtn' aria-disabled="true">Looks good, submit it</button>
	{{#each doc.postMoving}}
	<p class='prose'>{{{value}}}</p>
	{{/each}}
</section>