<section class='intro'>
	<h1 class='intro__hed'>{{{doc.title}}}</h1>
	{{!-- <p class='intro__dek'>{{meta.description}}</p> --}}
	<div class='intro__bylineContainer'>
		<p class='intro__byline'>Data + Development by
			<a href='{{meta.author1.url}}' target='_blank'>{{meta.author1.name}}</a>
		</p>
		<p class='intro__byline'>Story + Design by
			<a href='{{meta.author2.url}}' target='_blank'>{{meta.author2.name}}</a>
		</p>
	</div>
	{{!-- <time class='intro__time'>Month 2019</time> --}}
	{{#each doc.intro}}
	<p class='prose'>{{{value}}}</p>
	{{/each}}


</section>